<div ng-controller="ShellCtrl as vm" class="main-shell">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>front-end</span>
      </h2>
      <span flex=""></span>
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">

          <md-menu-item ng-show="!vm.isAuthorized()">
            <md-button ng-click="vm.showLoginModal($event)">Login</md-button>
          </md-menu-item>

          <md-menu-item ng-show="!vm.isAuthorized()">
            <md-button ng-click="vm.showRegistrationModal($event)">Register</md-button>
          </md-menu-item>

          <md-menu-item ng-show="vm.isAuthorized()">
            <md-button ng-click="vm.logout()">Logout</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
