<md-dialog aria-label="Login" ng-controller="Login as vm">

      <md-toolbar layout-padding>
        <div class="md-toolbar-tools">
          <h3>Login</h3>
        </div>
      </md-toolbar>

      <md-dialog-content  >
        <div class="md-dialog-content">
          <form name="loginForm" role="form" ng-submit="vm.login()">

            <md-input-container class="md-block" flex="80">
              <label>Username</label>
              <input type="text"
                     ng-required="true"
                     name="username"
                     ng-model="vm.username">
            </md-input-container>

            <md-input-container class="md-block" flex="80">
              <label>Password</label>
              <input type="password"
                     name="password"
                     ng-required="true"
                     ng-model="vm.password"
                     aria-label="password">
            </md-input-container>

            <md-dialog-actions  >
              <md-button ng-click="vm.hide()" class="md-raised" aria-label="Cancel">Cancel</md-button>
              <md-button type="submit" class="md-raised" i18n="login.login" aria-label="Close"></md-button>
            </md-dialog-actions>

          </form>
        </div>
      </md-dialog-content>
</md-dialog>
